<div class="public-layout-gradient">
  <div class="container-sm">
    <%= link_to root_url, class: 'logo' do %>
      <%= svg_logo_full %>
    <% end %>

    <div class="card">
      <p><%= @response_text %></p>
    </div>
  </div>
</div>
